flask==2.3.3
flask-cors==4.0.0
pandas==2.1.0
langchain==0.3.23
python-dotenv==1.0.0
faiss-cpu==1.7.4
tiktoken==0.5.2
httpx==0.27
sentence-transformers==2.4.0
sqlalchemy==2.0.23
pinecone-client==2.2.4
unstructured
python-docx
langchain-core==0.3.53
langsmith==0.3.32
langchain-ollama
